#formBody {
    
    margin: 0 auto;
    background-color: #2E4A62;
    height: 800px;
    width: 600px;
}

.error {
    
    color: red;
    font-size: 14px;
}

body {
    
    background-color: #B4B7BA;
}

#registrationForm {
    
    margin-top: 30px;
}

.inputBox, .dropDownBox {
    
    margin: 10px 0 10px 0;
    width: 300px;
    height: 30px;
}

h1 {
    
    font-family: "Comic Sans MS", cursive, sans-serif;	
    padding-top: 25px;
    color: white;
}

h2, h3 {
    color: black;
    text-align: center;
}

th {
    
    background: #DFDFDF;
    font-weight: bold;
}

td {
    
    background: #FAFAFA;
    text-align: center;
}

td, th {
    
    border: 1px solid;
}

table {
    
    margin-top: 50px;
    width: 1000px;
    color: #333;
    border-collapse: collapse;
    border-spacing: 0;
}

#register {
    
    font-family: "Comic Sans MS", cursive, sans-serif;	
    align-content: center;
    font-size: 17px;
    color: black;
    background-color: #B4B7BA;
    height: 35px;
    width: 150px;
    margin-top: 50px;
    border-radius: 4px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    
  -webkit-appearance: none; 
  margin: 0; 
}